<template>
  <!-- Card Component -->
  <div class="transition-all duration-150 flex w-full px-4 py-6 mx-auto">
    <div class="flex flex-col items-stretch min-h-full mb-6 transition-all duration-150 bg-white rounded-lg shadow-lg hover:shadow-2xl">
      <div class="md:flex-shrink-0">
        <img :src="course.poster_url"
          alt="Imágen del Curso"
          class="object-cover w-full rounded-lg rounded-b-none md:h-56"
        />
      </div>
      <hr class="border-gray-400" />
      <div class="h-40">       
        <p class="flex flex-row flex-wrap w-full px-4 pt-2 overflow-hidden text-sm font-bold">
            {{ course.title }}
        </p>
        <p class="flex flex-row flex-wrap w-full px-4 pb-2 overflow-hidden text-sm text-justify text-gray-700">
          {{ course.abstract }}
        </p>
      </div>
      <hr class="border-gray-300" />
      <section class="px-4 py-2 mt-2">
        <div class="flex items-center justify-between">
          <a 
            :href="route('courses.show', { id: course.id })" 
            class="w-full bg-green-app text-white font-bold py-2 rounded text-center">Ver</a>
        </div>
      </section>
    </div>
  </div>
  <!-- Card Component -->
</template>
<script>
export default {
  props:['course']
}
</script>