<template>
  <div class="mt-5">
    <div class="w-full p-6 bg-white rounded shadow overflow-y-auto" style="height:60vh;">
      <a
        class="w-full mx-auto overflow-hidden"
        v-for="course in courses"
        :key="course.id"
        :href="route('courses.show', { id: course.id })"
      >
        <div class="md:flex shadow-lg mb-4">
          <div class="md:flex-shrink-0">
            <img
              class="h-48 w-full object-cover md:w-auto p-2"
              :src="course.poster_url"
              style="background-color: #d9ecf4"
            />
          </div>
          <div class="p-8 bg-gray-100 w-full">
            <div
              class="block mt-1 text-lg leading-tight font-medium text-blue-app-500 font-exo2"
              v-html="course.title">
            </div>
            <p class="mt-2 text-gray-500">
              {{ course.speaker }}
              <div class="grid grid-cols-2 gap-4 mt-5 text-gray-500">
                <div class="inline text-left">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5 mx-auto inline-block align-top">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                  </svg> 
                  {{ course.publish_date | date }}
                </div>
                <div class="inline mr-3 text-right" v-if="course.video_duration">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5 mx-auto inline-block align-top">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg> 
                  {{ course.video_duration }}
                </div>
              </div>
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
export default {
  props: ["courses"],
  components: {
  },
  data() {
    return {};
  },
  filters: {
    date: function (value) {
      if (!value) return "";
      moment.locale("es");
      var s = moment(value).format('L');//.fromNow();
      return s
    },
  },
};
</script>