<template>
  <div class="rounded overflow-hidden shadow-lg bg-white p-7 sm:p-0 mb-5">
    <div class="w-full">
      <plyr-video ref="plyr">
        <video controls playsinline :data-poster="data.poster_url">
          <source :src="data.video_url" type="video/mp4" />
        </video>
      </plyr-video>
    </div>
    <div class="px-2 pb-5">
      <h1 class="text-xl justify-between leading-none mt-2" v-html="data.title"></h1>
      <div class="flex items-center mt-2">
        <p class="text-gray-700 leading-none text-base font-bold">
          {{ data.speaker }}<br />{{ data.publish_date | date }}
        </p>
      </div>
      <div class="text-sm mt-1">
        <p class="text-blue-600">
          <span class="pr-1" v-for="tag in data.tags" :key="tag.id"
            ><a class="text-underline" href="#">#{{ tag.name.es }}</a></span
          >
        </p>
      </div>
    </div>
  </div>
</template>
<script>
import PlyrVideo from "vue-plyr";
import "vue-plyr/dist/vue-plyr.css";
import moment from 'moment';
export default {
  props: ["data"],
  components: {
    PlyrVideo,
  },
  filters: {
    date: function (value) {
      if (!value) return "";
      moment.locale('es');
      var s = moment(value).format('MMM DD');
      return s.charAt(0).toUpperCase() + s.slice(1)
    },
  },
};
</script>