<template>
  <div class="mt-6">
    <div
      class="grid grid-flow-row auto-rows-max md:auto-rows-min p-6 font-exo2 bg-white rounded shadow overflow-y-auto"
      style="height: 60vh"
    >
      <paper
        v-for="paper in papers" :key="paper.id"
        :paper="paper"
        @show-pdf="showPdf($event)"
      />

      <hr class="mb-2" />
      <div>
        <div class="text-xs text-gray-500 mb-5">
          Esta información está basada en artículos y opiniones de terceros y no
          debe considerarse como una recomendación.
          <b>Material dirigido a profesionales de la salud.</b>
        </div>
      </div>
    </div>

    <jet-custom-modal :show="showPdfModal" @close="showPdfModal = false">
      <template #title>
        <div v-if="topicSelect" v-html="topicSelect.title"></div>
        <div v-if="topicSelect">
          <div class="text-xs sm:text-sm text-green-app">
            {{ topicSelect.authors }}
          </div>
          <div class="text-xs sm:text-sm text-gray-700">
            {{ topicSelect.source }}
          </div>
          <div class="text-gray-500" style="font-size:8pt;">
            {{ topicSelect.copyright }}
          </div>
          <div class="my-2 text-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-6 h-6 mx-auto inline-block align-top cursor-pointer"
              @click="zoomin()"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 000 2h6a1 1 0 100-2H7z"
                clip-rule="evenodd"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-6 h-6 mx-auto inline-block align-top cursor-pointer"
              @click="zoomout()"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
                clip-rule="evenodd"
              />
            </svg>
            <a class="text-right" :href="topicSelect.url" download>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="w-6 h-6 mx-auto inline-block align-top"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
                /></svg
            ></a>
          </div>
        </div>
      </template>

      <template #content>
        <div class="overflow-auto" style="height: 70vh" v-if="topicSelect">
          <pdf
            v-for="i in numPages"
            :key="i"
            :src="src"
            :page="i"
            :style="{ display: 'inline-block', width: pdfzoom + '%' }"
          ></pdf>
        </div>
        <!--<embed
          class="w-full"
          v-if="topicSelect"
          :src="topicSelect.url"
          height="600"
          type="application/pdf"
        />-->
      </template>

      <template #footer> </template>
    </jet-custom-modal>
  </div>
</template>

<script>
import Paper from "./Paper";
import JetCustomModal from "@/Jetstream/CustomModal";
import pdf from "vue-pdf";

export default {
  props: ['papers'],
  components: {
    Paper,
    JetCustomModal,
    pdf,
  },
  data() {
    return {
      showPdfModal: false,
      topicSelect: null,
      src: "",
      numPages: 0,
      pdfzoom: 100,
    };
  },
  methods: {
    showPdf(topic) {
      var pdfDocument = pdf.createLoadingTask(topic.url);
      this.src = pdfDocument;
      this.src.promise.then((pdf) => {
        this.numPages = pdf.numPages;
        this.topicSelect = topic;
        this.showPdfModal = true;
      });
    },
    zoomin(){
      this.pdfzoom = this.pdfzoom - 10
    },
    zoomout() {
      this.pdfzoom = this.pdfzoom + 10

    }
  },
};
</script>
