<template>
  <div>
    <div>
      <div class="text-lg sm:text-2xl text-blue-app-500"
        v-html="paper.title">
      </div>
    </div>
    <div>
      <div class="my-3 text-xs sm:text-sm text-green-app w-full">
        {{ paper.authors }}
      </div>
    </div>
    <div>
      <div class="my-3 text-xs sm:text-sm text-gray-700 w-full">
        {{ paper.source }}
      </div>
    </div>
    <div>
      <div class="my-3 text-gray-500 w-full" style="font-size:8pt;">
        {{ paper.copyright }}
      </div>
    </div>
    <button
      @click="$emit('show-pdf', paper)"
      class="w-full sm:w-1/6 my-4 bg-green-app text-white font-bold py-2 px-4 rounded"
    >
      Ver más
    </button>
    <hr class="mb-2" />
  </div>
</template>
<script>
export default {
  props: ["paper"],
};
</script>