<template>
  <div>
    <div class="p-3 font-bold">Eventos</div>
    <table class="w-full">
      <tbody class="">
        <tr
          class="relative transform scale-100 text-xs py-1 border-b-2 border-blue-app-300 cursor-default bg-white"
          v-for="webinar in webinars" :key="webinar.id"
        >
          <td class="pl-5 pr-3 whitespace-no-wrap text-center">
            <div class="text-gray-400">{{ webinar.start_at | date }}</div>
            <div>07:45</div>
          </td>

          <td class="px-2 py-2 whitespace-no-wrap">           
            <div class="leading-5 text-gray-900 font-bold">
              {{ webinar.title }}
            </div>
            <div class="leading-5 text-gray-500 font-medium">{{ webinar.speaker }}</div>
          </td>

          <td class="w-1/4 md:w-1/6 px-4">
            <button @click="showCourse(webinar)"
              :class="{'w-full text-white font-bold py-2 rounded': true, 'bg-green-app': webinar.url, 'bg-gray-300': !webinar.url}" :disabled="!webinar.url">
              Ver
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!--<div class="p-3 mt-2 font-bold">Diciembre 2020</div>
    <table class="w-full">
      <tbody class="">
        <tr
          class="relative transform scale-100 text-xs py-1 border-b-2 border-blue-app-300 cursor-default bg-white"
        >
          <td class="pl-5 pr-3 whitespace-no-wrap text-center w-1/4 md:w-1/6">
            <div class="text-gray-400">3 dic</div>
            <div>07:45</div>
          </td>

          <td class="px-2 py-2 whitespace-no-wrap">            
            <div class="leading-5 text-gray-900 font-bold">
              Nombre del Curso
            </div>
            <div class="leading-5 text-gray-800">Resumen del Curso</div>
            <div class="leading-5 text-gray-500 font-medium">Rafael Lemus</div>
          </td>
          <td class="w-1/4 md:w-1/6">
            <a href=""
              class="bg-green-app text-white text-center font-bold py-2 px-4 block rounded mx-3">
              Ver
            </a>
          </td>
        </tr>
        <tr
          class="relative transform scale-100 text-xs py-1 border-b-2 border-blue-app-300 cursor-default bg-white"
        >
          <td class="pl-5 pr-3 whitespace-no-wrap text-center">
            <div class="text-gray-400">10 dic</div>
            <div>07:45</div>
          </td>

          <td class="px-2 py-2 whitespace-no-wrap">            
            <div class="leading-5 text-gray-900 font-bold">
              Nombre del curso
            </div>
            <div class="leading-5 text-gray-800">Hello message</div>
            <div class="leading-5 text-gray-500 font-medium">Refael Lemus</div>
          </td>
          <td>
            <a href=""
              class="bg-green-app text-white text-center font-bold py-2 px-4 block rounded mx-3"
            >
              Ver
            </a>
          </td>
        </tr>
        <tr
          class="relative transform scale-100 text-xs py-1 border-b-2 border-blue-app-300 cursor-default bg-white"
        >
          <td class="pl-5 pr-3 whitespace-no-wrap text-center">
            <div class="text-gray-400">16 dic</div>
            <div>07:45</div>
          </td>

          <td class="px-2 py-2 whitespace-no-wrap">
            <div class="leading-5 text-gray-500 font-medium">Rafael Lemus</div>
            <div class="leading-5 text-gray-900 font-bold">
              Nombre del curso
            </div>
            <div class="leading-5 text-gray-800">Hello message</div>
          </td>

          <td>
            <a href=""
              class="bg-green-app text-white text-center font-bold py-2 px-4 block rounded mx-3"
            >
              Ver
            </a>
          </td>
        </tr>
      </tbody>
    </table>!-->

    <jet-custom-modal :show="showCourseModal" @close="closeCourse" v-if="courseSelect">
    <template #title>
        <div>{{ courseSelect.title }}</div>
        <div class="text-gray-500 text-sm">{{ courseSelect.speaker }}</div>
    </template>

    <template #content>
        <video ref="cvideo" class="w-full h-64 sm:h-100 my-4 rounded focus:outline-none shadow" 
          controls oncontextmenu="return false;">
          <source :src="courseSelect.url" type="video/mp4">
          Your browser does not support the video tag.
        </video>
    </template>

    <template #footer>
        
    </template>
</jet-custom-modal>
    
    
  </div>
</template>

<script>
import JetApplicationLogo from "@/Jetstream/ApplicationLogo";
import JetCustomModal from "@/Jetstream/CustomModal";
import moment from 'moment'
export default {
  props: ['webinars'],
  components: {
    JetApplicationLogo,
    JetCustomModal,
  },
  data() {
    return {
      showCourseModal: false,
      courseSelect: null
    }
  },
  methods: {
    showCourse(course) {
      this.courseSelect = course;
      this.showCourseModal = true;
    },
    closeCourse() {
      this.$refs.cvideo.pause()
      this.showCourseModal = false
    }
  },
  filters: {
    date: function (value) {
      if (!value) return "";
      moment.locale('es');
      var s = moment(value).format('MMM DD');
      return s.charAt(0).toUpperCase() + s.slice(1)
    },
  },
};
</script>
