<template>
  <app-layout>
    <template #header>
      <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
        <h2 class="font-semibold text-xl text-blue-app-700 leading-tight">
          Descarga Android
        </h2>
      </div>
    </template>

    <div class="min-w-screen bg-random flex items-center justify-center px-5 py-5">
        <div class="w-full mx-auto rounded-3xl shadow-xl bg-white" style="max-width: 300px">
            <div class="w-full px-5 pt-8 pb-3">
                <div class="rounded-full w-44 h-44 mx-auto border-8 border-gray-300 flex items-center justify-center">
                    <img class="h-32 w-auto" src="/images/android-logo.png" />
                </div>
            </div>
            <div class="w-full px-5 text-center pb-8 border-b border-gray-300">
                <h1 class="text-2xl font-light text-gray-800 leading-tight">Instalación Android</h1>
            </div>
            <div class="w-full px-5 py-5 text-center">
                <a class="bg-blue-500 hover:bg-blue-600 text-white rounded-full px-10 py-2 transition-colors" href="https://aconnect.sfo2.digitaloceanspaces.com/apps/android/aponet.apk" download>Instalar Aponet</a>
            </div>
        </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";

export default {
  components: {
    AppLayout
  },
};
</script>
