<template>
    <div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="title">Nombre<span style="color: #ff0000;">*</span></label>
                        <input type="text" dusk="nombre" class="form-control" v-model="item.name" />
                        <span v-for="error in errors.name" :key="error.name">
                            <small class="text-danger">{{ error }}</small>
                        </span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="title">Apellidos<span style="color: #ff0000;">*</span></label>
                        <input type="text" dusk="nombre" class="form-control" v-model="item.surnames" />
                        <span v-for="error in errors.surnames" :key="error.surnames">
                            <small class="text-danger">{{ error }}</small>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <div class="form-group">
                        <label for="title">Correo electrónico<span style="color: #ff0000;">*</span></label>
                        <input type="email" dusk="email" class="form-control text-lowercase" v-model="item.email" />
                        <span v-for="error in errors.email" :key="error.email">
                            <small class="text-danger">{{ error }}</small>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-9">
                    <div class="form-group">
                        <label for="title">Roles<span style="color: #ff0000;">*</span></label>
                        <multiselect
                            v-model="item.roles"
                            :options="roles"
                            :multiple="true"
                            :hide-selected="true"
                            placeholder=""
                            select-label=""
                            label="description"
                            track-by="id"
                            />
                        <span v-for="error in errors.roles" :key="error.roles">
                            <small class="text-danger">{{ error }}</small>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="onClose()" :disabled="loading">Cancelar</button>
            <button type="button" dusk="guardarUser" class="btn btn-primary" @click="submitItem()" :disabled="loading">Guardar  <i v-show="loading" class="fa fa-spinner fa-spin"></i></button>
        </div>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    export default {
        props: ['title', 'item'],
        components: { Multiselect },
        data() {
            return {
                errors: [],
                roles:[],
                loading: false,
            };
        },
        created(){
            this.fetchRoles();
		},
        methods: {
            fetchRoles(){
                api.get("roles/all").then(response => {
                    this.roles = response.data;
                });
            },
            submitItem() {
                if (this.loading === true) {
                    return;
                }
                this.loading = true;
                var input = this.item;

                if(this.item.action==1){
            		api.post('users',input).then(response => {
                        this.$emit('fetch-data');
                        this.$emit('close');
                        this.errors = [];
	                    this.loading = false;
	                    swal.fire('!Guardado!',response.data.message, 'success');
	                })
	                .catch(error => {
	                    this.errors = error.response.data.errors;
	                    this.loading = false;
	                });
                }else if(this.item.action==2){
	                api.put('users',this.item.id, input).then(response => {
	                    this.$emit('fetch-data');
                        this.$emit('close');
                        this.errors = [];
	                    this.loading = false;
	                    swal.fire('!Modificado!',response.data.message, 'success');
	                })
	                .catch(error => {
	                	//console.log(error);
	                    this.errors = error.response.data.errors;
	                    this.loading = false;
	                });
            	}
            },
            onClose(){
                this.errors = [];
                this.$emit('close');
            }
        }
    };
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
