<template>
    <div>
        <div class="grid grid-cols-2 gap-4 py-4">
            <div class="mt-2">
                <div class="text-2xl"><i class="fas fa-users"></i> <b>Usuarios</b>
                <i v-show="loading" class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
        <hr class="mt-0">

        <!-- Users Table -->
        <table-server
            @update-item="updateItem($event)"
            @delete-item="deleteItem($event)"
            @activate-item="activateItem($event)">
        </table-server>

    </div>
</template>

<script>
    import TableServer from './Table';
    //import Form from './Form';
    export default {
        components: {
            TableServer,
            //'modal-form'   : Form
        },
        data(){
            return {
                item:{
                    id: '',
                    name: '',
                    surnames: '',
                    email: '',
                    avatar_id: '',
                    roles: [],
                    action: 1
                },
                modal: {
                    title: '',
                    show: false
                },
                loading: false,
            }
        },
        created(){
            this.$events.$on('set-loading', eventData => this.onLoadingSet(eventData))
        },
        methods: {
            createItem(){
                this.item.id = null;
                this.item.name = '';
                this.item.surnames = '';
                this.item.email = '';
                this.item.roles = null;
                this.item.action = 1;
                this.modal.title = 'Nuevo usuario'
                this.modal.show = true;
            },
            updateItem(item) {
                this.item.id = item.id;
                this.item.name = item.name;
                this.item.surnames = item.surnames;
                this.item.email = item.email;
                this.item.roles = item.roles;
                this.item.action = 2;
                this.modal.title = 'Editar usuario'
                this.modal.show = true;
            },
            activateItem(item){
                swal.fire({
                  title: '¿Estás seguro?',
                  text: "¡Este proceso activará al usuario!",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: '¡Sí, activarlo!',
                  cancelButtonText: 'Cancelar',
                }).then((result) =>  {
                    if (result.value) {
                        this.loading = true;
                        axios.put('users/activate/' + item.id, {}).then(response => {
                            this.$children[0].$refs.vuetable.reload();
                            swal.fire('!Activado!',response.data.message, 'success');
                            this.loading = false;
                        })
                        .catch(error => {
                            this.loading = false;
                            swal.fire('!Error!','Su registro no se pudo activar', 'error');                            
                        });
                    }
                });
            },
            deleteItem(item){
                swal.fire({
                  title: '¿Estás seguro?',
                  text: "¡Este proceso eliminará al usuario del sistema!",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: '¡Sí, eliminarlo!',
                  cancelButtonText: 'Cancelar',
                }).then((result) =>  {
                    if (result.value) {
                        this.loading = true;
                        axios.delete('users', item.id).then(response => {
                            this.$children[0].$refs.vuetable.reload();
                            swal.fire('!Eliminado!',response.data.message, 'success');
                            this.loading = false;
                        })
                        .catch(error => {
                            this.loading = false;
                            swal.fire('!Error!','Su registro no se pudo eliminar', 'error');                            
                        });
                    }
                });
            },
            onLoadingSet(status){
                this.loading = status;
            }
        }
    }
</script>
