<template>
<div>
    <!--<filter-bar></filter-bar>-->    
    <div class="overflow-x-auto">
        <vuetable ref="vuetable" api-url="/users" :fields="fields" :sort-order="sortOrder" :css="css.table" pagination-path="" :per-page="per_page" :append-params="moreParams" @vuetable:pagination-data="onPaginationData" @vuetable:loading="onLoading" @vuetable:loaded="onLoaded">
            <template slot="roles" slot-scope="props">
                <div class="text-center align-middle" v-if="props.rowData.roles.length > 0">
                    <span class="badge badge-primary mr-1"
                        v-for="role in props.rowData.roles" :key="role.id">
                        <span v-if="showRole(role)">{{ role.description }}</span>
                    </span>
                </div>
                    <div class="text-center align-middle" v-else>
                        <span class="badge badge-secondary mr-1">
                        <span>Registro</span>
                        </span>
                    </div>
            </template>
            <template slot="actions" slot-scope="props">
                <div class="text-center align-middle actions mx-auto" style="width:110px;">
                    <button class="bg-green-400 hover:bg-green-500 text-xs text-white py-1 px-2 rounded"
                        v-can="'users.update'"
                        v-if="!props.rowData.license_verified_at"
                        @click.prevent="$emit('activate-item',props.rowData)" data-toggle="tooltip" title="Activar Registro">
                        <i class="fas fa-user-check"></i>
                    </button>
                    <button class="bg-red-600 hover:bg-red-800 text-xs text-white py-1 px-2 rounded"
                        v-can="'users.delete'"
                        v-if="!props.rowData.deleted_at"
                        @click.prevent="$emit('delete-item',props.rowData)"
                        data-toggle="tooltip" title="Eliminar registro">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </template>
        </vuetable>   
    </div>
    <div class="grid grid-cols-2 gap-4">
        <div>
            <vuetable-pagination-info ref="paginationInfo" info-template="Mostrando del {from} al {to} de un total de {total} registros">
            </vuetable-pagination-info>
        </div>
        <div class="text-right">
            <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage">
            </vuetable-pagination>
        </div>
    </div>
</div>
</template>

<script>
import {Vuetable, VuetablePagination, VuetablePaginationInfo} from "vuetable-2";
//import FilterBar from '../partials/FilterBar';
import TableCssConfig from "../../Mixins/VueTable2Bs4";
import moment from 'moment';
export default {
    components: {
        Vuetable,
        VuetablePagination,
        VuetablePaginationInfo,
        //FilterBar
    },
    data() {
        return {
            fields: [
                {
                    name: 'id',
                    title: 'ID',
                    titleClass: 'text-center',
                    sortField: 'id',
                    dataClass: 'text-center align-middle',
                },
                {
                    name: 'name',
                    title: 'Nombre',
                    titleClass: 'text-center',
                    dataClass: 'align-middle',
                },
                {
                    name: 'email',
                    title: 'Correo electrónico',
                    sortField: 'email',
                    titleClass: 'text-center',
                    dataClass: 'text-center align-middle',
                },
                {
                    name: 'professional_license',
                    title: 'Cédula',
                    titleClass: 'text-center',
                    dataClass: 'text-center align-middle',
                },
                {
                    name: 'created_at',
                    title: 'Fecha alta',
                    titleClass: 'text-center',
                    sortField: 'created_at',
                    dataClass: 'text-center align-middle',
                    callback: 'formatDate',
                },
                {
                    name: 'license_verified_at',
                    title: 'Fecha validación',
                    titleClass: 'text-center',
                    dataClass: 'text-center align-middle',
                    callback: 'formatDate',
                },
                {
                    name: '__slot:actions',
                    title: 'Acciones',
                    titleClass: 'text-center',
                    dataClass: 'text-center align-middle',
                }
            ],
            sortOrder: [{
                field: 'id',
                direction: 'desc'
            }],
            moreParams: {
                'query': ''
            },
            per_page: 10,
            css: TableCssConfig,
        }
    },
    mounted() {
        this.$events.$on('filter-set', eventData => this.onFilterSet(eventData))
        this.$events.$on('filter-reset', e => this.onFilterReset())
        this.$events.$on('per-page-set', eventData => this.onPerPageChange(eventData))
    },
    methods: {
        onPaginationData(paginationData) {
            this.$refs.pagination.setPaginationData(paginationData)
            this.$refs.paginationInfo.setPaginationData(paginationData)
        },
        onChangePage(page) {
            this.$refs.vuetable.changePage(page)
        },
        editRow(rowData) {
            alert("You clicked edit on" + JSON.stringify(rowData))
        },
        deleteRow(rowData) {
            alert("You clicked delete on" + JSON.stringify(rowData))
        },
        onLoading() {
            //console.log('loading... show your spinner here')
            this.$events.fire('set-loading', true);
        },
        onLoaded() {
            //console.log('loaded! .. hide your spinner here')
            this.$events.fire('set-loading', false);
        },
        formatDate(value) {
            if (value != null)
                return moment(value).format('DD/MM/YYYY');
            return ''
        },
        nombreLabel(value) {
            return '';
        },
        activoLabel(value) {
            return value == null ?
                '<span class="badge badge-success">Activo</span>' :
                '<span class="badge badge-danger">Inactivo</span>'
        },
        onFilterSet(filterText) {
            this.moreParams = {
                'query': filterText
            }
            Vue.nextTick(() => this.$refs.vuetable.refresh())
        },
        onFilterReset() {
            this.moreParams = {
                'query': ''
            }
            Vue.nextTick(() => this.$refs.vuetable.refresh())
        },
        onPerPageChange(perPage) {
            this.per_page = perPage;
            Vue.nextTick(() => this.$refs.vuetable.refresh())
        },
        showRole(role){
            if (this.is_super_user)
                return true;
            if(role.name === 'root')
                return false;
            return true;
        },
    }
};
</script>
