<template>
  <app-layout>
    <template #header>
      <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
        <h2 class="font-semibold text-xl text-blue-app-700 leading-tight">
          Envíenos sus comentarios y sugerencias
        </h2>
      </div>
    </template>

    <div class="sm:py-6 bg-gray-100">
      <div class="max-w-2xl mx-auto sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow-xl sm:rounded-lg bg-blue-app-200 text-white">
            <contact />
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Contact from '@/Jetstream/Contact'

export default {
  components: {
    AppLayout,
    Contact
  },
};
</script>
