<template>
  <app-layout>
    <template #header>
      <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
        <h2 class="font-semibold text-xl text-blue-app-700 leading-tight">
          Learning Center
        </h2>
      </div>
    </template>

    <div class="sm:py-6 bg-gray-100">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white shadow-md overflow-hidden">
          <div class="flex">
            <!--<a
              href="/webinars"
              class="w-1/2 bg-white h-15 text-blue-app-700 text-center pt-5 font-bold text-opacity-50 text-sm"
            >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-blue-app-700 inline-block align-top">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
                Próximos Eventos
            </a>-->
            <a
              href="/courses"
              class="w-1/2 bg-white h-15 text-blue-app-700 text-center pt-5 font-bold border-b-2 border-blue-app-700 text-sm"
            >
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6 text-blue-app-700 mx-auto inline-block align-top"><path d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path></svg>
                Cursos Disponibles
            </a>
          </div>
        </div>
      </div>
      <!--<div class="max-w-7xl mx-auto sm:px-6 lg:px-8 mt-4">
        <div class="pt-2 relative mx-auto text-right">
          <input
            class="w-full sm:w-1/2 border-1 border-gray-300 bg-white h-10 px-5 pr-16 text-sm focus:outline-none shadow md:rounded"
            type="search"
            name="search"
            placeholder="Buscar..."
          />
          <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
            <svg
              class="text-gray-600 h-4 w-4 fill-current"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1"
              id="Capa_1"
              x="0px"
              y="0px"
              viewBox="0 0 56.966 56.966"
              style="enable-background: new 0 0 56.966 56.966"
              xml:space="preserve"
              width="512px"
              height="512px"
            >
              <path
                d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
              />
            </svg>
          </button>
        </div>
      </div>-->
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <list :courses="courses" />
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import List from "./Courses/List";

export default {
  props:['courses'],
  components: {
    AppLayout,
    List,
  },
};
</script>
