<template>
  <app-layout>
    <template #header>
      <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
        <h2 class="font-semibold text-xl text-blue-app-700 leading-tight">
          Aviso de Privacidad
        </h2>
      </div>
    </template>

    <div class="sm:py-6 bg-gray-100">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="overflow-hidden">
            <div class="grid grid-flow-row auto-rows-max md:auto-rows-min p-6 bg-white rounded shadow">
                <div>
                    <div class="mt-4"><b>I. Responsable de la protección de sus datos personales</b></div>
                    PROTEIN, S.A. de C.V. (Apotex México) con domicilio en la calle de Damas número 120, Colonia San José Insurgentes, Delegación Benito Juárez, C.P. 03900, en la Ciudad de México, es responsable del tratamiento de sus datos personales en términos de lo establecido por el artículo 3º fracción XIV de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (LFPDPPP).
                    <div class="mt-4"><b>II. Finalidad del tratamiento y datos personales recolectados</b></div>
                    Los datos personales generales, financieros, patrimoniales y sensibles que recabemos de forma personal, directa o indirecta dependiendo de la relación jurídica que se llegase a entablar entre Usted y PROTEIN, S.A. DE C.V., podrán ser utilizados para las siguientes finalidades:
                    <ul class="list-reset ml-7 my-4">
                        <li class="flex items-top mb-1">
                            <span class="mr-2">a.</span>
                            <span>Identificación;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">b.</span>
                            <span>Celebrar el contrato que corresponda, generar y custodiar su expediente, a fin de cumplir cabalmente con las obligaciones acordadas entre las partes;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">c.</span>
                            <span>Alta en bases de datos, sistemas o directorios de la empresa;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">d.</span>
                            <span>Actualización de su información personal;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">e.</span>
                            <span>Brindarle servicios de atención a clientes, aclaración de dudas o comentarios que existan sobre nuestros productos o servicios, a través de nuestro correo electrónico, teléfonos, formularios de contacto en línea (sitio web Apotex y sitios web de nuestros productos) y Redes Sociales Oficiales;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">f.</span>
                            <span>Venta y entrega de mercancía;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">g.</span>
                            <span>Facturación;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">h.</span>
                            <span>Atención, seguimiento y control histórico de reportes de reacciones adversas a nuestros productos;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">i.</span>
                            <span>Informar a la Comisión Federal para la Protección de Riesgos Sanitarios en cumplimiento de la Ley General de Salud y del Reglamento de Insumos para la Salud, de las reacciones adversas reportadas a través del formato oficial establecido por la autoridad sanitaria para esos efectos;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">j.</span>
                            <span>Evaluación de solicitudes de venta a crédito para determinar si el cliente reúne los requisitos necesarios para obtener una línea de crédito relacionada con la venta de productos farmacéuticos, verificación de la información proporcionada, asignación del monto o límite del crédito y generar sus órdenes de compra;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">k.</span>
                            <span>Generar el usuario de los clientes con línea de crédito y permitirles acceder a nuestro portal de extranet para verificar el estatus de su cuenta y pedidos;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">l.</span>
                            <span>Gestiones de cobranza a clientes con línea de crédito;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">m.</span>
                            <span>Organizar la logística de traslado y hospedaje para los colaboradores, clientes o prospectos invitados para conocer los procesos de calidad de Apotex Canadá;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">n.</span>
                            <span>Permitir el acceso y salida de visitantes, registrar el motivo de su visita, mantener la seguridad de nuestras instalaciones, y contactar a las personas designadas en caso de emergencia (visitantes a planta o contratistas);</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">o.</span>
                            <span>Envío de invitaciones a eventos;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">p.</span>
                            <span>Realizar visitas a través de nuestra fuerza de ventas a los médicos en nuestra red de profesionales de la salud, para compartirles información sobre nuestros productos;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">q.</span>
                            <span>Generar listas de asistencia a nuestros eventos como evidencia de los mismos;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">r.</span>
                            <span>Permitirle participar en los concursos o actividades publicados en los sitios web o redes sociales de nuestros productos, o difundidos a través de cualquier otro medio, realizar la entrega de premios, así como contar con una evidencia sobre las actividades realizadas y el cumplimiento de las bases de nuestros concursos;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">s.</span>
                            <span>Realizar la entrega de regalos o artículos promocionales, y generar evidencias de dicha entrega;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">t.</span>
                            <span>Trámites legales, sustanciación y seguimiento de juicios;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">u.</span>
                            <span>Generar estadísticas disociadas sobre el uso de nuestro sitio web www1.apotex.com/mx/es, así como de los sitios web de nuestros productos y Redes Sociales Oficiales;</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">v.</span>
                            <span>Generar estadísticas disociadas que nos permitan conocer los perfiles de consumidores, detectar sus necesidades, mejorar nuestros productos y modelos de negocio (prospección comercial);</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">w.</span>
                            <span>Notificarle, en su caso, los cambios al presente aviso de privacidad.</span>
                        </li>
                    </ul>                    
                    <b>Uso de imágenes</b><br>
                    <ul class="list-reset ml-7 my-4">
                        <li class="flex items-top mb-1">
                            <span class="mr-2">a.</span>
                            <span>Vigilancia. Las imágenes recabadas por las cámaras de vigilancia son gestionadas en un Circuito Cerrado de Televisión, se almacenan en el disco duro de nuestro servidor que se sobreescribe periódicamente, y serán utilizadas exclusivamente para mantener la seguridad dentro de nuestras instalaciones, y para protección de nuestros colaboradores y visitantes, así como la de nuestros equipos, sistemas e información confidencial, y para generar reportes internos sobre incidencias.</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">b.</span>
                            <span>Fines informativos. Por otra parte, con el objeto de documentar y comunicar información sobre las actividades, eventos, campañas, logros empresariales o laborales, entrevistas y noticias de la organización, PROTEIN, S.A. de C.V. podrá utilizar, imprimir, reproducir, publicar y compartir la(s) imagen(es) (fotografías y/o vídeos) de nuestros clientes, proveedores y de aquellas personas que acudan o participen en nuestros eventos y campañas (incluyendo familiares e invitados de nuestros colaboradores), en medios impresos, electrónicos (incluyendo sitios web y redes sociales), boletines, reportes, memorias fotográficas y publicaciones, en todas sus manifestaciones, interpretaciones o ejecuciones, ediciones, emisiones, fonogramas o videogramas, para el objeto antes señalado. Estas imágenes podrán ser difundidas a través de boletines u otro tipo de comunicaciones con las empresas agrupadas bajo la marca Apotex® en el mundo, y externamente con cámaras u organizaciones empresariales, o revistas de negocios, con fines exclusivamente informativos. Cuando su imagen vaya a ser utilizada para fines publicitarios, esta situación le será notificada previamente y PROTEIN, S.A. de C.V. solicitará su consentimiento para obtener y/o utilizar su imagen con estos fines.</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">c.</span>
                            <span>Redes Sociales. Con el objeto de documentar y comunicar información sobre las actividades y eventos organizados por la empresa, nuestras noticias y logros empresariales, y los concursos en los que participen los usuarios de nuestras Redes Sociales Oficiales o sitios web de nuestros productos, Apotex México, podrá utilizar, imprimir, reproducir y publicar la(s) imagen(es) (fotografías y/o vídeos) de aquellas personas que acudan o participen en nuestros eventos, las imágenes publicadas por los participantes de nuestros concursos en las que aparezcan personas identificables (dependiendo de las bases y requisitos de la convocatoria), así como de los ganadores de nuestros concursos, en medios impresos, electrónicos (sitios web, redes sociales y blogs de Apotex®), newsletters, memorias fotográficas y publicaciones, en todas sus manifestaciones, sus interpretaciones o ejecuciones, sus ediciones, sus emisiones, sus fonogramas o videogramas con fines exclusivamente informativos y periodísticos. Asimismo podremos republicar dentro de las mismas Redes Sociales las imágenes que los visitantes o seguidores publiquen en nuestro perfil, a fin de compartir las experiencias de nuestros usuarios. La imagen de nuestros ganadores será utilizada internamente como evidencia de la entrega de premios, generar reportes internos, documentar e informar a las áreas de la empresa que corresponda respecto al ejercicio debido y transparente de los recursos otorgados para estos concursos. En caso de que alguna de estas imágenes sea adecuada para su uso con fines publicitarios, lo contactaremos para solicitar su consentimiento expreso en términos del artículo 87 de la Ley Federal del Derecho de Autor.</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">d.</span>
                            <span>Entrega de regalos o artículos promocionales. Con el fin de contar con evidencias de la entrega de regalos o artículos promocionales a clientes, proveedores o colaboradores, Apotex México podrá utilizar la imagen del receptor para generar reportes internos, documentar e informar a las áreas de la empresa que corresponda respecto al ejercicio debido y transparente de los recursos otorgados para la adquisición de los bienes entregados.</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">e.</span>
                            <span>Investigación de mercados. Apotex México podrá recolectar indirectamente (a través de agencias de investigación de mercados) vídeos de los participantes en las encuestas realizadas para nuestra empresa, estos vídeos serán almacenados y utilizados para analizar las respuestas de los participantes con fines de prospección comercial. El contenido de estos vídeos no será divulgado o publicado en nuestros sitios web o redes sociales oficiales, ni será utilizado para publicidad.</span>
                        </li>
                    </ul>                    
                    <b>Datos personales sensibles</b><br>
                    <ul class="list-reset ml-7 my-4">
                        <li class="flex items-top mb-1">
                            <span class="mr-2">a.</span>
                            <span>Eventos médicos y perfiles de consumidores. Los datos personales sensibles (información relativa a estado de salud) recolectados de manera personal durante nuestros eventos médicos o pláticas para pacientes, así como dentro del proceso de generación de perfiles de consumidores, son utilizados para: identificarlo, generar una base de datos electrónica e integrar un expediente, contactarlo para enviarle información relativa a los productos de Apotex México, y generar estadísticas disociadas relativas a la demanda de medicamentos y el perfil de nuestros consumidores.</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">b.</span>
                            <span>Reporte de reacciones adversas. Los datos personales generales y sensibles recolectados de forma directa e indirecta de las personas que presenten alguna reacción secundaria a nuestros medicamentos, serán utilizados para la atención, seguimiento y control histórico de reportes de reacciones adversas a nuestros productos, e informar a la Comisión Federal para la Protección de Riesgos Sanitarios en cumplimiento de la Ley General de Salud y del Reglamento de Insumos para la Salud a través del formato oficial establecido por la autoridad sanitaria para esos efectos.</span>
                        </li>
                    </ul>
                    <b>Datos personales financieros y patrimoniales</b><br>
                    <div class="mt-2">Los datos personales financieros y patrimoniales recolectados de manera personal o directa de los Clientes que soliciten y les sea asignada una línea de crédito, serán utilizados para evaluar si usted reúne los requisitos necesarios para obtener una línea de crédito relacionada con la venta de productos farmacéuticos, verificar la veracidad de la información proporcionada en este proceso y asignar el monto de la línea de crédito.</div>
                    
                    <div class="mt-4 mb-2"><b>Fines secundarios</b></div>
                    En algunos casos, dependiendo de la relación que tenga con Apotex México, su información general podrá ser utilizada para fines de publicidad, mercadotecnia y/o prospección comercial. Esta situación le será informada al momento de recolectar sus datos personales, si usted no desea que su información sea tratada para estas finalidades secundarias deberá enviar un correo electrónico a la dirección datospersonales@apotex.com.mx notificando esta situación, sin que su negativa afecte la relación jurídica que tenga con PROTEÍN, S.A. de C.V.<br>
                    <div class="mt-4"><b>III. Consentimiento para el tratamiento de datos personales sensibles, financieros y patrimoniales</b></div>
                    En cumplimiento con lo dispuesto por los artículos 8º y 9º de la LFPDPPP, se le informa que para recabar y tratar sus datos sensibles, financieros y patrimoniales es preciso contar con su consentimiento expreso, por lo que al momento en que se recabe dicha información le indicaremos con precisión la finalidad de su recolección y tratamiento, solicitando que nos indique si acepta o no el tratamiento de dichos datos. Tratándose de los reportes de reacciones adversas, es necesario recolectar datos personales sensibles para informar a la Comisión Federal para la Protección de Riesgos Sanitarios en cumplimiento a lo establecido por la Ley General de Salud, por lo que en términos del artículo 10 fracción I de la LFPDPPP no será necesario obtener su consentimiento expreso.
                    <div class="mt-4"><b>IV. Transferencia de datos personales</b></div>
                    Los datos personales generales de los invitados para conocer los procesos de calidad de Apotex Canadá, podrán transferirse a esta empresa para la logística del hospedaje y traslados, y la organización del evento, para llevar a cabo esta transferencia no será necesario contar con el consentimiento del titular de los datos, de conformidad con lo señalado por el artículo 37 fracción III de la LFPDPPP. Asimismo, a menos que se actualice alguno de los supuestos contenidos en el artículo 37 de la LFPDPPP, sus datos personales no serán transmitidos bajo ninguna circunstancia.
                    <div class="mt-4"><b>V. Revocación del consentimiento y ejercicio de derechos de Acceso, Rectificación, Cancelación y Oposición</b></div>
                    Conforme a lo señalado en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, usted podrá solicitar el acceso, la rectificación, la cancelación u oponerse al uso de los datos personales que hayan sido proporcionados al responsable, o revocar el consentimiento que haya otorgado, para lo cual deberá seguir el siguiente procedimiento:
                    <ul class="list-reset ml-7 my-4">
                        <li class="flex items-top mb-1">
                            <span class="mr-2">1.</span>
                            <span>Enviar un correo electrónico a la dirección datospersonales@apotex.com.mx, señalando su nombre completo, la relación jurídica o comercial que tenga o haya tenido con Apotex (si es usted un empleado, cliente, visitante, etc.) y el tipo de derecho que desea ejercer.</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">2.</span>
                            <span>Llenar el formulario de solicitud ARCO que le será remitido, identificando con precisión los datos respecto de los cuales solicite el acceso, rectificación, cancelación u oposición, o aquellos respecto a los que desee revocar su consentimiento, anexando alguno de los documentos de identificación que se señalan en el formulario con el fin de acreditar su identidad o la personalidad con la que realiza la solicitud. Una vez lleno este formulario deberá enviarse a la dirección de correo electrónico señalada en el numeral anterior y podrán adjuntarse aquellos documentos que sean relevantes para la solicitud en cuestión. Para las solicitudes de rectificación es necesario que el titular señale con precisión cuál es la modificación que debe hacerse, anexando la documentación que justifique la procedencia de su solicitud.</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">3.</span>
                            <span>Una vez recibida su solicitud le será enviado un Acuse de recibo con el número de folio (expediente) y la fecha de recepción que corresponda. En caso de que la misma no cumpla con los requisitos legales, dentro de los cinco días hábiles siguientes a su recepción le será requerido subsanar su solicitud en un término de diez días, de no hacerlo, la misma se tendrá por no presentada.</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">4.</span>
                            <span>En caso que su solicitud haya sido enviada en día inhábil laboral, la misma será recibida a partir del día hábil siguiente al que la haya enviado.</span>
                        </li>
                        <li class="flex items-top mb-1">
                            <span class="mr-2">5.</span>
                            <span>Su solicitud será contestada vía correo electrónico en un término de veinte días hábiles contados a partir de la fecha de acuse de recibo. Este plazo podrá ampliarse por veinte días adicionales cuando existan causas que lo justifiquen, esta situación se notificará al titular de acuerdo a lo establecido por el artículo 97 del Reglamento de la LFPDPPP.</span>
                        </li>
                         <li class="flex items-top mb-1">
                            <span class="mr-2">6.</span>
                            <span>En caso de que su solicitud sea procedente de conformidad con la LFPDPPP y demás normatividad vigente, se otorgará el acceso, se rectificarán o cancelaran sus datos, se hará efectivo su derecho de oposición o se tendrá por revocado el consentimiento, dentro de los quince días siguientes a la fecha en que se dé respuesta a su solicitud. Este plazo podrá ampliarse por quince días adicionales cuando existan causas que lo justifiquen, esta situación se notificará al titular de acuerdo a lo establecido por el artículo 97 del Reglamento de la LFPDPPP.</span>
                        </li>
                    </ul>
                    En todos los casos en que su solicitud sea procedente, en términos de lo señalado por los artículos 32, 33, 34 y 35 de la LFPDPPP, la entrega de los datos personales será gratuita a través de la dirección de correo electrónico que el titular de los datos señale para dichos efectos, en caso de que requiera que la información le sea entregada de modo diverso deberá cubrir únicamente los gastos justificados de envío y/o el costo de reproducción en copias u otros formatos que se generen.
                    <div class="mt-4"><b>VI. Medios para limitar el uso o divulgación de datos personales</b></div>
                    Si no desea seguir recibiendo comunicados o publicidad por parte de PROTEIN, S.A. de C.V., usted podrá en todo momento enviar un correo a la dirección datospersonales@apotex.com.mx, solicitando dejar de ser contactado para estas finalidades.
                    <div class="mt-4"><b>VII. Política de Privacidad en línea</b></div>
                    La información relativa al uso del portal www1.apotex.com/mx/es se describe a continuación. Usted debe revisar regularmente esta Política de Privacidad pues puede cambiar en cualquier momento a discreción de los administradores.<br><br>
                    Cuando usted ingresa al portal de PROTEIN, S.A. DE C.V., nosotros registramos su dirección de Internet (esta dirección por regla general es temporal y es asignada por su proveedor de servicios de Internet al momento en que usted se conecta), el tipo de sistema operativo y de software navegador que usted usa. Adicionalmente podemos rastrear las partes del portal que usted esta visitando. La información que obtenemos es utilizada para ayudarnos a crear una mejor experiencia para los usuarios de nuestro portal de Internet, todo este proceso se lleva a cabo sin que nosotros tengamos conocimiento de su nombre o de alguna otra información que nos permita identificarlo. Mientras usted visita el portal de Apotex México, lo hace de forma anónima, a menos que usted decida expresamente identificarse con nosotros.<br><br>
                    PROTEIN, S.A. DE C.V., no requiere que usted nos provea de datos personales para usar el portal de Internet, en caso de que esto sea necesario, le será explicada dicha necesidad de manera expresa. Algunas aplicaciones pueden requerir que usted revele alguna información personal, nuestros formularios de contacto pueden requerirle de forma obligatoria que ingrese al menos su dirección de correo electrónico para registrar y dar atención a sus comentarios, solicitudes, dudas o sugerencias, y contactarlo. Dentro de estos formularios no se le requerirá proporcionar datos personales financieros, patrimoniales y/o sensibles, por lo que su revelación es responsabilidad de los mismos, sin perjuicio de lo anterior, en caso de que usted nos proporcione de forma voluntaria información de alguna de estas categorías, PROTEIN, S.A. DE C.V. asegura la más estricta confidencialidad en su manejo.<br><br>
                    Cookies: La cookie es una breve información que el portal de Internet envía a su computadora, la cual queda almacenada en su disco duro. La próxima vez que usted ingrese a nuestro portal, podremos usar la información almacenada en la cookie para facilitarle el uso de nuestro sitio web. Una cookie no nos permite conocer su identidad personal a menos que usted expresamente elija proporcionárnosla. La mayoría de las cookies expiran después de un periodo determinado de tiempo, o bien pueden ser borradas por usted en el momento en que lo desee. Asimismo usted puede hacer que su navegador le avise cuando reciba una cookie, de manera que usted pueda aceptarlas o rechazarlas.
                    <div class="mt-4"><b>VIII. ¿Ante quién puede presentar sus quejas y denuncias por el tratamiento indebido de sus datos personales?</b></div>
                    Si usted considera que su derecho de protección de datos personales ha sido lesionado por alguna conducta, actuación o respuesta a sus solicitudes, presume que en el tratamiento de sus datos personales existe alguna violación a las disposiciones previstas en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, podrá interponer la queja o denuncia correspondiente ante el Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales (INAI), para mayor información visite www.inai.org.mx.
                    <div class="mt-4"><b>IX. Más información - Oficina de Privacidad</b></div>
                    Si tiene alguna duda sobre el contenido, interpretación o alcance de este aviso, o requiere mayor información respecto al tratamiento de su información, puede contactar al Oficial de Privacidad, Lic. René Rodolfo Neri Figueroa, vía correo electrónico en la dirección datospersonales@apotex.com.mx.
                    <div class="mt-4"><b>X. Cambios en el Aviso de Privacidad</b></div>
                    Este Aviso de Privacidad estará vigente a partir de la última fecha de actualización y podrá ser modificado en forma discrecional por el responsable en términos de la normatividad aplicable, cualquier modificación al mismo será comunicada por el responsable mediante la publicación del nuevo Aviso de Privacidad en la página de internet www1.apotex.com/mx/es.
                    <div class="mt-4 text-center">Última actualización: 17 de octubre de 2017</div>
                    
                </div>
            </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";

export default {
  components: {
    AppLayout
  },
};
</script>
