<template>
  <app-layout>
    <template #header>
      <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
        <h2 class="font-semibold text-xl text-blue-app-700 leading-tight">
          Condiciones Legales
        </h2>
      </div>
    </template>

    <div class="sm:py-6 bg-gray-100">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="overflow-hidden">
            <div class="grid grid-flow-row auto-rows-max md:auto-rows-min p-6 bg-white rounded shadow">
                <div>
                    CREDITOS DE DESARROLLO. Esta aplicación es propiedad exclusiva de PROTEIN S.A. DE C.V. (Apotex México) con domicilio en la calle de Damas número 120, Colonia San José Insurgentes, Delegación Benito Juárez, C.P. 03900, en la Ciudad de México, es responsable del tratamiento de sus datos personales en términos de lo establecido por el artículo 3º fracción XIV de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (LFPDPPP).<br><br>
                    El uso de cualquier contenido sin la autorización previa de PROTEIN S.A. DE C.V. constituye una infracción  a los derechos de autor y derechos de propiedad industrial cuyo titular es PROTEIN S.A. DE C.V..<br><br>
                    Contenidos: Nuestra APP contiene información exclusivamente dirigida a los profesionales de la salud. En caso de que usted no sea un profesional de la salud favor de reportarlo a la brevedad para poder revisar su caso particular.<br><br>
                    La información de carácter científica y médica divulgada en esta aplicación se proporciona sin ninguna representación o garantía, expresa o implícita.  Es de carácter informativo y cumple con el marco normativo vigente.<br><br>
                    SOPORTE MÉDICO<br>
                    Todos los contenidos presentados en esta aplicación han sido revisados y validados por nuestro equipo interdisciplinario, si usted cree que alguno de los contenidos no es adecuado o tiene algún error de carácter técnico; favor de reportarlo de inmediato a través de nuestra sección de contacto.<br><br>
                    INTERACCIÓN. Esta aplicación incluye funciones interactivas que permiten a los usuarios comunicarse con nosotros. Cualquier asistencia que pueda recibir utilizando cualquiera de las funciones interactivas de esta aplicación no constituye un consejo específico y por lo tanto debe confirmarse independiente.<br><br>
                    SOBRE AVISO DE PRIVACIDAD. Esta aplicación se apega estrictamente a las políticas sobre el manejo de información de PROTEIN S.A. DE C.V. (Apotex México) y usted puede consultarlas directamente en:
                    https://www1.apotex.com/mx/es/privacy-policy<br><br>
                    REVISIÓN TÉCNICA: Esta aplicación ha pasado las pruebas de seguridad de virus, malware y otros ataques maliciosos y no supone ninguna amenaza. De igual forma cumple con las especificaciones técnicas para IOS y ANDROID a través de la validación como DEVELOPER AUTORIZADOS.<br><br>
                    SOPORTE Y ASISTENCIA. Si usted requiere información especializada sobre esta aplicación o cualquier tipo de asistencia favor de ponerse en contacto con nosotros a través de la sección de CONTACTO, será un placer poder apoyarlo.<br><br>
                    SOBRE LA UTILIZACIÓN DE COOKIES. Utilizamos cookies propias y de terceros para ofrecerle una mejor calidad de nuestros servicios; si continúa navegando en esta aplicación lo consideramos como una aceptación del uso de Cookies. En caso de requerirlo podrá en cualquier momento borrar las cookies almacenadas en su equipo a través de los ajustes y configuraciones de su navegador de Internet.<br><br>
                    Todas las marcas y nombres de productos que figuran en este sitio son marcas registradas de sus respectivos titulares. © APOTEX 
                </div>
            </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";

export default {
  components: {
    AppLayout
  },
};
</script>
