<template>
  <app-layout>
    <template #header>
      <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
        <h2 class="font-semibold text-xl text-blue-app-700 leading-tight">
          Usuarios
        </h2>
      </div>
    </template>

    <div class="sm:py-6 bg-gray-100">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="overflow-hidden">
            <index/>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Index from "./Users/Index";

export default {
  components: {
    AppLayout,
    Index,
  },
};
</script>
