<template>
  <div>
    <div
      class="text-2xl text-white font-bold px-5 py-2"
      style="background-color: rgb(137, 36, 112)"
    >
      Antidepresivos
    </div>
    <div class="grid md:grid-cols-2">
      <product
        name="Apo-Oxpar®"
        presentation="20 mg 30 tabletas"
        image_url="https://aconnect.sfo2.digitaloceanspaces.com/products/apo-oxpar.png"
        buy_url="https://apopharma.com.mx/"
        more_url="https://aconnect.sfo2.digitaloceanspaces.com/products/apo-oxpar.pdf"
        @show-pdf="showPdf($event)"
      />

      <product
        name="Ansdepcan®"
        presentation="50 mg 14 y 28 cápsulas"
        image_url="https://aconnect.sfo2.digitaloceanspaces.com/products/ansdepcan.png"
        buy_url="https://apopharma.com.mx/"
        more_url="https://aconnect.sfo2.digitaloceanspaces.com/products/ansdepcan.pdf"
        @show-pdf="showPdf($event)"
      />
    </div>

    <div
      class="text-2xl text-white font-bold px-5 py-2 md:mt-4"
      style="background-color: rgb(54, 128, 153)"
    >
      Ansiolíticos
    </div>
    <div class="grid md:grid-cols-2">
      <product
        name="Apolazam®"
        presentation="1 mg 40 tabletas"
        image_url="https://aconnect.sfo2.digitaloceanspaces.com/products/apolazam.png"
        buy_url="https://apopharma.com.mx/"
        more_url="https://aconnect.sfo2.digitaloceanspaces.com/products/apolazam.pdf"
        @show-pdf="showPdf($event)"
      />
    </div>

    <div
      class="text-2xl text-white font-bold px-5 py-2 md:mt-4"
      style="background-color: rgb(164, 168, 82)"
    >
      TDAH
    </div>
    <div class="grid md:grid-cols-2">
      <product
        name="Exotrima®"
        presentation="25, 40 y 60 mg con 14 cápsulas"
        image_url="https://aconnect.sfo2.digitaloceanspaces.com/products/exotrima.png"
        buy_url="https://apopharma.com.mx/"
        more_url="https://aconnect.sfo2.digitaloceanspaces.com/products/exotrima.pdf"
        @show-pdf="showPdf($event)"
      />
    </div>

    <div
      class="text-2xl text-white font-bold px-5 py-2 md:mt-4"
      style="background-color: rgb(63, 48, 128)"
    >
      Antiepilépticos
    </div>
    <div class="grid md:grid-cols-2">
      <product
        name="Gafinix®"
        presentation="75 y 150 mg con 14 y 28 cápsulas"
        image_url="https://aconnect.sfo2.digitaloceanspaces.com/products/gafinix.png"
        buy_url="https://apopharma.com.mx/"
        more_url="https://aconnect.sfo2.digitaloceanspaces.com/products/gafinix.pdf"
        @show-pdf="showPdf($event)"
      />
    </div>

    <div
      class="text-2xl text-white font-bold px-5 py-2 md:mt-4"
      style="background-color: rgb(227, 114, 69)"
    >
      Antipsicóticos
    </div>
    <div class="grid md:grid-cols-2">
      <product
        name="Marcato®"
        presentation="5 y 10 mg con 14 tabletas"
        image_url="https://aconnect.sfo2.digitaloceanspaces.com/products/marcato.png"
        buy_url="https://apopharma.com.mx/"
        more_url="https://aconnect.sfo2.digitaloceanspaces.com/products/marcato.pdf"
        @show-pdf="showPdf($event)"
      />
    </div>

    <div
      class="text-2xl text-white font-bold px-5 py-2 md:mt-4"
      style="background-color: rgb(54, 128, 153)"
    >
      Antidemenciales
    </div>
    <div class="grid md:grid-cols-2">
      <product
        name="Menural®"
        presentation="10 mg y 20 mg con 14 y 28 tabletas"
        image_url="https://aconnect.sfo2.digitaloceanspaces.com/products/menural.png"
        buy_url="https://apopharma.com.mx/"
        more_url="https://aconnect.sfo2.digitaloceanspaces.com/products/menural.pdf"
        @show-pdf="showPdf($event)"
      />
    </div>

    <div
      class="text-2xl text-white font-bold px-5 py-2 md:mt-4"
      style="background-color: rgb(239, 175, 72)"
    >
      Antiparkinsonianos
    </div>
    <div class="grid md:grid-cols-2">
      <product
        name="Periamid®"
        presentation="0.5 y 1 mg con 30 tabletas"
        image_url="https://aconnect.sfo2.digitaloceanspaces.com/products/periamid.png"
        buy_url="https://apopharma.com.mx/"
        more_url="https://aconnect.sfo2.digitaloceanspaces.com/products/periamid.pdf"
        @show-pdf="showPdf($event)"
      />
    </div>

    <div
      class="text-2xl text-white font-bold px-5 py-2 md:mt-4"
      style="background-color: rgb(0, 40, 85)"
    >
      Analgesia
    </div>
    <div class="grid md:grid-cols-2">
      <product
        name="Filcos"
        presentation="90 mg 14 y 28 tabletas"
        image_url="https://aconnect.sfo2.digitaloceanspaces.com/products/filcos_90_14.png"
        buy_url="https://apopharma.com.mx/"
        more_url="https://aconnect.sfo2.digitaloceanspaces.com/products/filcos.pdf"
        @show-pdf="showPdf($event)"
      />

      <product
        name="Filcos"
        presentation="120 mg 7 tabletas"
        image_url="https://aconnect.sfo2.digitaloceanspaces.com/products/filcos_120_7.png"
        buy_url="https://apopharma.com.mx/"
        more_url="https://aconnect.sfo2.digitaloceanspaces.com/products/filcos.pdf"
        @show-pdf="showPdf($event)"
      />

      <product
        name="Minofedral"
        presentation="37.5 mg / 325 mg 20 tabletas"
        image_url="https://aconnect.sfo2.digitaloceanspaces.com/products/minofedral.jpg"
        buy_url="https://apopharma.com.mx/"
        more_url="https://aconnect.sfo2.digitaloceanspaces.com/products/minofedral.pdf"
        @show-pdf="showPdf($event)"
      />
    </div>

    <jet-custom-modal :show="showPdfModal" @close="showPdfModal = false">
      <template #title>
        <div>Información Para Prescribir</div>
        <div class="my-2 text-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-6 h-6 mx-auto inline-block align-top cursor-pointer"
            @click="zoomin()"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 000 2h6a1 1 0 100-2H7z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-6 h-6 mx-auto inline-block align-top cursor-pointer"
            @click="zoomout()"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </template>

      <template #content>
        <div
          class="overflow-auto"
          style="height: 70vh"
          v-if="productSelect"
        >
          <pdf
            v-for="i in numPages"
            :key="i"
            :src="src"
            :page="i"
            :style="{ display: 'inline-block', width: pdfzoom + '%' }"
          ></pdf>
        </div>
      </template>

      <template #footer> </template>
    </jet-custom-modal>
  </div>
</template>

<script>
import Product from "./Product";
import JetCustomModal from "@/Jetstream/CustomModal";
import pdf from "vue-pdf";
export default {
  components: {
    Product,
    JetCustomModal,
    pdf,
  },
  data() {
    return {
      showPdfModal: false,
      productSelect: null,
      src: "",
      numPages: 0,
      pdfzoom: 100,
    };
  },
  methods: {
    showPdf(product) {
      var pdfDocument = pdf.createLoadingTask(product.url);
      this.src = pdfDocument;
      this.src.promise.then((pdf) => {
        this.numPages = pdf.numPages;
        this.productSelect = product;
        this.showPdfModal = true;
      });
    },
    zoomin(){
      this.pdfzoom = this.pdfzoom - 10
    },
    zoomout() {
      this.pdfzoom = this.pdfzoom + 10

    }
  },
};
</script>
