<template>
  <div
    class="w-full max-w-6xl rounded bg-white px-10 lg:px-20 py-8 mx-auto text-gray-800 relative md:text-left"
  >
    <div class="md:flex items-center -mx-10">
      <div class="w-full md:w-1/2 px-10 mb-10 md:mb-0">
        <div class="relative">
          <img :src="image_url" class="w-full relative" alt="" />
        </div>
      </div>
      <div class="w-full md:w-1/2 px-10">
        <div class="mb-5">
          <h1
            class="font-exo2 font-bold uppercase text-center text-2xl mb-5 text-blue-app-700"
          >
            {{ name }}
          </h1>
        </div>
        <div>
          <button
            @click="$emit('show-pdf', { url: more_url })"
            target="_blank"
            class="flex justify-center bg-green-app opacity-100 hover:opacity-75 text-white hover:text-gray-900 rounded-full px-5 py-2 font-semibold text-center w-full"
          >
            <i class="mdi mdi-cart -ml-2 mr-2"></i> Información Para Prescribir
          </button>
        </div>
        <div class="mt-2">
          <a
            @click.prevent="openLink(buy_url)"
            target="_blank"
            class="flex justify-center bg-blue-app-400 opacity-100 hover:opacity-75 text-white hover:text-gray-900 rounded-full px-5 py-2 font-semibold text-center w-full cursor-pointer"
          >
            <i class="mdi mdi-cart -ml-2 mr-2"></i> Dónde Comprar
          </a>
        </div>
        <div class="text-center mt-2">
          {{ presentation }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["name", "image_url", "buy_url", "more_url", "presentation"],
  methods: {
    openLink(url) {
      swal.fire({
        title: "¿Deseas continuar?",
        text: "Este enlace abrirá una nueva página en tu navegador",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        cancelButtonText: "No, permanecer aquí",
        confirmButtonText: "Si, continuar",
      }).then((result) => {
        if (result.isConfirmed) {
          window.open(url, "_blank");
        }
      });
    },
  },
};
</script>