<template>
  <div
    class="grid grid-flow-row auto-rows-max md:auto-rows-min p-6 font-exo2 bg-white rounded shadow"
  >
    <img v-if="scale" class="w-full h-24 object-cover" :src="scale.banner_url" />

    <div class="w-1/2 lg:w-1/4 absolute ml-15 mt-1">
      <label class="" for="">Seleccione la Escala</label>
      <select
        class="form-select mt-1 block w-full text-2xl"
        v-model="scale"
        @change="setScale"
      >
        <option :value="scale" v-for="scale in scales" :key="scale.id">
          {{ scale.title }}
        </option>
      </select>
    </div>

    <div class="overflow-y-auto" style="height: 55vh" v-if="scale">
      <div class="mt-4 flex flex-wrap md:justify-left">
        <div class="flex flex-col mb-4 w-full md:w-1/2">
          <label class="mb-2 tracking-wide text-gray-700" for="first_name"
            >Nombre del Paciente</label
          >
          <input
            class="form-input py-2 px-3 md:mr-2 uppercase"
            type="text"
            name="name"
            v-model="form.name"
          />
          <p
            class="text-sm text-red-600"
            v-for="error in errors.name"
            :key="error.name"
          >
            {{ error }}
          </p>
        </div>
        <div class="flex flex-col mb-4 w-1/2 md:w-1/4">
          <label class="mb-2 tracking-wide text-gray-700" for="age">Edad</label>
          <input
            class="form-input py-2 px-3 md:mr-2"
            type="number"
            name="age"
            v-model="form.age"
          />
          <p
            class="text-sm text-red-600"
            v-for="error in errors.age"
            :key="error.age"
          >
            {{ error }}
          </p>
        </div>
        <div class="flex flex-col mb-4 w-1/2 md:w-1/4">
          <label class="mb-2 text-gray-700 md:ml-2" for="last_name"
            >Fecha</label
          >
          <date-picker v-model="form.date" valueType="format"></date-picker>
          <p
            class="text-sm text-red-600"
            v-for="error in errors.date"
            :key="error.date"
          >
            {{ error }}
          </p>
        </div>
      </div>

      <h2 class="mt-5 font-bold text-lg">Instrucciones:</h2>
      <div class="mt-1" v-html="scale.instructions"></div>
      <div
        class="w-full mt-5"
        v-for="(question, index) in scale.questions"
        :key="question.id"
      >
        <question
          :question="question"
          :errors="errors"
          :idx="index"
          v-model="form.answers[index]"
        ></question>
      </div>
      <hr class="my-2" />
      <div class="w-full text-center" v-if="scale">
        <button
          class="w-full sm:w-1/6 my-4 bg-green-app text-white font-bold py-2 px-4 rounded text-center cursor-pointer"
          @click="showResults"
        >
          Ver Resultado
        </button>
      </div>
      <div v-if="scale" class="w-full text-sm text-center text-gray-700">
        {{ scale.copyright }}
      </div>
    </div>

    <jet-custom-modal
      :show="showCustomModal"
      :closeable="false"
      @close="showCustomModal = false"
    >
      <template #title>
        <div>Resultado</div>
      </template>

      <template #content v-if="result">
          
        <div v-html="scale.notes"></div>
        <div class="mt-3 text-center text-lg" v-html="result.diagnosis"></div>
        <div class="text-gray-400 text-xs text-center">
          Puntaje: {{ result.score }}
        </div>
        <div class="mt-3">
          <button
            class="w-full my-4 bg-green-app text-white font-bold py-2 px-4 rounded text-center cursor-pointer"
            @click="sendResults"
          >
            Enviar a mi correo
          </button>
          <a           
            class="w-full inline-block mb-2 mb-4 bg-blue-app-400 text-white font-bold py-2 px-4 rounded text-center cursor-pointer"
            :href="'/scales/pdf/' + result.result_id"
            download
          >
            Descargar PDF
          </a>
        </div>
      </template>

      <template #footer> </template>
    </jet-custom-modal>
  </div>
</template>
<script>
import Question from "./Question";
import JetCustomModal from "@/Jetstream/CustomModal";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
export default {
  props: ["scales"],
  components: {
    Question,
    JetCustomModal,
    DatePicker,
  },
  data() {
    return {
      scale: null,
      form: {
        answers: [],
        scale: null,
        name: "",
        age: "",
        date: "",
      },
      result: null,
      showCustomModal: false,
      loading: false,
      errors: [],
    };
  },
  mounted() {
    this.setScale();
  },
  methods: {
    setScale() {
      if (this.scales.length > 0 && this.scale === null) {
        this.scale = this.scales[0];
        this.scale_id = this.scales[0].id;
        this.form.answers = new Array(this.scale.questions.length).fill("");
      } else {
        this.scale_id = this.scale.id;
        this.form.answers = new Array(this.scale.questions.length).fill("");
      }
      this.errors = [];
    },
    showResults() {
      if (this.loading === true) {
        return;
      }
      this.loading = true;
      this.form.scale = this.scale;
      axios
        .post("/scales", this.form)
        .then((response) => {
          this.loading = false;
          this.errors = [];
          this.result = response.data;
          this.showCustomModal = true;
        })
        .catch((error) => {
          this.loading = false;
          this.errors = error.response.data.errors;
          swal.fire(
            "Faltan datos por completar",
            "Revise los campos marcados en rojo",
            "warning"
          );
        });
    },
    getResult() {
      if (this.total <= 5) {
        return "ausencia o remisión del trastorno";
      } else if (this.total > 5 && this.total <= 14) {
        return "ansiedad leve";
      } else if (this.total >= 15) {
        return "ansiedad moderada/grave (amerita tratamiento)";
      }
    },
    sendResults() {
      if (this.loading === true) {
        return;
      }
      this.loading = true;
      axios
        .get("/scales/send/" +  this.result.result_id)
        .then((response) => {
          this.loading = false;
          this.errors = [];
          swal.fire("!Enviada!", response.data.message, "success");
        })
        .catch((error) => {
          this.loading = false;
          this.errors = error.response.data.errors;
        });
    },
  },
};
</script>
<style>
.mx-input {
  height: 42px !important;
}
</style>