<template>
  <div class="md:mt-6">
    <div
      class="grid grid-flow-row auto-rows-max md:auto-rows-min p-6 font-exo2 bg-white rounded shadow">
      <div class="grid grid-cols-2 lg:grid-cols-3 mx-auto md:mt-5">
        <div class="mx-3 md:mx-6 mt-5">
          <a href="/scales/alzheimer">
            <img
              class="object-contain max-h-48"
              src="/images/scales/demencia.png"
              alt="Demencia"
            />
          </a>
        </div>
        <div class="mx-3 md:mx-6 mt-5">
          <a href="/scales/depression">
            <img
              class="object-contain max-h-48"
              src="/images/scales/depresion_2.png"
              alt="Depresión"
            />
          </a>
        </div>

        <!--<div class="mx-3 md:mx-6 mt-5">
          <a href="">
            <img
              class="object-contain max-h-48"
              src="/images/scales/tdah.png"
              alt="TDAH"
            />
          </a>
        </div>
        <div class="mx-3 md:mx-6 mt-5">
          <a href="">
            <img
              class="object-contain max-h-48"
              src="/images/scales/bipolar_2.png"
              alt="Transtorno Bipolar"
            />
          </a>
        </div>-->

        <div class="mx-3 md:mx-6 mt-5">
          <a href="/scales/anxiety">
            <img
              class="object-contain max-h-48"
              src="/images/scales/ansiedad_2.png"
              alt="Ansiedad"
            />
          </a>
        </div>
        <!--<div class="mx-3 md:mx-6 mt-5 mb-5">
          <a href="">
            <img
              class="object-contain max-h-48"
              src="/images/scales/ezquizofrenia_3.png"
              alt="Esquizofrenia"
            />
          </a>
        </div>-->
      </div>
    </div>
  </div>
</template>

<script>
import JetApplicationLogo from "@/Jetstream/ApplicationLogo";

export default {
  components: {
    JetApplicationLogo,
  },
};
</script>
