<template>
  <div>
    <div v-html="question.title"></div>
    <div class="text-gray-500" v-html="question.subtitle"></div>
    <div class="mt-2" v-if="question.image_url">
      <img class="h-32" :src="question.image_url">
    </div>
    <div class="mt-4">
      <div v-for="answer in question.answers" :key="answer.id">
        <input
          type="radio"
          class="form-radio"
          :name="question.id"
          @input="$emit('input', { scale_question_id: question.id, scale_answer_id: answer.id, value: answer.value})"
        />
        <span class="ml-2">{{ answer.name }}</span>
      </div>
    </div>
    <p class="text-sm text-red-600" v-for="error in errors['answers.' + idx]" :key="error['answers.' + idx]">
      {{ error }}
    </p>
  </div>
  <!--<input class="form-input rounded-md shadow-sm" :value="value" @input="$emit('input', $event.target.value)" ref="input">-->
</template>

<script>
export default {
  props: ["question","errors","idx"],

  methods: {
    focus() {
      this.$refs.input.focus();
    },
  },
};
</script>

