<template>
    <div>
    <div class="bg-white text-gray-800 rounded-xl shadow-lg overflow-hidden relative flex">
        <div class="bg-white h-full w-full px-5 pt-6 overflow-y-auto">
            <div class="mb-3">
                <h1 class="text-3xl font-bold">Categorías</h1>
                <!--<p class="text-sm text-gray-500 uppercase font-bold">WEDNESDAY 5 AUGUST</p>-->
            </div>
            <div class="flex -mx-1 mb-5">
                <div class="w-1/2 px-1">
                    <a :href="route('news.show', { id: 1 })" class="block mb-2 p-5 rounded overflow-hidden transform transition-all duration-300 scale-100 hover:scale-95" style="background: url(https://aconnect.sfo2.digitaloceanspaces.com/news/categories/mexico.jpg?v1) center; background-size: cover;">
                        <div class="h-24 md:h-44"></div>
                        <h3 class="text-lg font-bold text-white leading-tight">México</h3>
                    </a>
                    <a :href="route('news.show', { id: 2 })" class="block mb-2 p-5 rounded overflow-hidden transform transition-all duration-300 scale-100 hover:scale-95" style="background: url(https://aconnect.sfo2.digitaloceanspaces.com/news/categories/latinoamerica.jpg?v1) center; background-size: cover;">
                        <div class="h-32 md:h-52"></div>
                        <h3 class="text-lg font-bold text-white leading-tight">América Latina</h3>
                    </a>
                </div>
                <div class="w-1/2 px-1">
                    <a :href="route('news.show', { id: 3 })" class="block mb-2 p-5 rounded overflow-hidden transform transition-all duration-300 scale-100 hover:scale-95" style="background: url(https://aconnect.sfo2.digitaloceanspaces.com/news/categories/internacional.jpg?v1) center; background-size: cover;">
                        <div class="h-32 md:h-52"></div>
                        <h3 class="text-lg font-bold text-white leading-tight">Internacional</h3>
                    </a>
                    <a :href="route('news.show', { id: 4 })" class="block mb-2 p-5 rounded overflow-hidden transform transition-all duration-300 scale-100 hover:scale-95" style="background: url(https://aconnect.sfo2.digitaloceanspaces.com/news/categories/estados-unidos.jpg?v1) center; background-size: cover;">
                        <div class="h-24 md:h-44"></div>
                        <h3 class="text-lg font-bold text-white leading-tight">Estados Unidos</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</template>