<template>
  <app-layout>
    <template #header>
      <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
        <h2 class="font-semibold text-xl text-blue-app-700 leading-tight">
          Noticias
          <span class="float-right text-white font-sans">
            <a :href="route('news.index')">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="w-6 h-6 mx-auto inline-block align-top cursor-pointer mr-2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6"
                /></svg
              >Regresar a Categorías
            </a>
          </span>
        </h2>
      </div>
    </template>

    <div class="sm:py-6 bg-gray-100">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <div>
            <div
              class="grid grid-flow-row auto-rows-max md:auto-rows-min p-6 bg-white rounded shadow"
            >
              <div>
                <div class="mt-4 text-xl font-bold text-blue-app-700 font-exo2">
                  <span v-html="category.title"></span>
                </div>
                <new v-for="item in news" :key="item.id" :item="item" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import New from "./New";

export default {
  props: ["category", "news"],
  components: {
    AppLayout,
    New,
  },
};
</script>
