<template>
  <div>
    <div class="py-2 text-blue-app-600 font-bold md:text-lg">
      <a :href="item.url"
        class="underline"       
        target="_blank">
        {{ item.title }}
      </a>
    </div>
    <div class="text-sm text-gray-600">{{ item.source }}</div>
    <div class="text-sm md:text-base">
      <span v-html="item.content"></span>
    </div>
  </div>
</template>

<script>
export default {
  props: ["item"],
};
</script>
