<template>
    <jet-form-section @submitted="updateProfileInformation">
        <template #title>
            Información
        </template>

        <template #description>
            Actualice la información de perfil y la dirección de correo electrónico de su cuenta.
        </template>

        <template #form>
            <!-- Profile Photo -->
            <div class="col-span-6 sm:col-span-4" v-if="$page.jetstream.managesProfilePhotos">
                <!-- Profile Photo File Input -->
                <input type="file" class="hidden"
                            ref="photo"
                            @change="updatePhotoPreview">

                <jet-label for="photo" value="Foto" />

                <!-- Current Profile Photo -->
                <div class="mt-2" v-show="! photoPreview">
                    <img :src="user.profile_photo_url" alt="Current Profile Photo" class="rounded-full h-20 w-20 object-cover">
                </div>

                <!-- New Profile Photo Preview -->
                <div class="mt-2" v-show="photoPreview">
                    <span class="block rounded-full w-20 h-20"
                          :style="'background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + photoPreview + '\');'">
                    </span>
                </div>

                <jet-secondary-button class="mt-2 mr-2" type="button" @click.native.prevent="selectNewPhoto">
                    Cambiar mi foto
                </jet-secondary-button>

                <jet-secondary-button type="button" class="mt-2" @click.native.prevent="deletePhoto" v-if="user.profile_photo_path">
                    Eliminar Foto
                </jet-secondary-button>

                <jet-input-error :message="form.error('photo')" class="mt-2" />
            </div>

            <!-- Name -->
            <div class="col-span-6 sm:col-span-4">
                <jet-label for="name" value="Nombre" />
                <jet-input id="name" type="text" class="mt-1 block w-full" v-model="form.name" autocomplete="name" />
                <jet-input-error :message="form.error('name')" class="mt-2" />
            </div>

            <!-- Profesional Licence -->
            <div class="col-span-6 sm:col-span-2">
                <jet-label for="professional_license" value="Cédula Profesional" />
                <jet-input id="professional_license" type="text" class="mt-1 block w-full text-center bg-gray-200" 
                    v-model="form.professional_license" autocomplete="professional_license" readonly />
                <jet-input-error :message="form.error('licence')" class="mt-2" />
            </div>           

            <!-- Email -->
            <div class="col-span-6 sm:col-span-4">
                <jet-label for="email" value="Correo Electrónico" />
                <jet-input id="email" type="email" class="mt-1 block w-full" v-model="form.email" />
                <jet-input-error :message="form.error('email')" class="mt-2" />
            </div>

            <!-- Phone -->
            <div class="col-span-6 sm:col-span-2">
                <jet-label for="phone" value="Teléfono" />
                <jet-input id="phone" type="tel" class="mt-1 block w-full text-center" 
                    v-model="form.phone" autocomplete="phone" />
                <jet-input-error :message="form.error('phone')" class="mt-2" />
            </div> 

            <!-- Speciality -->
            <div class="col-span-6 sm:col-span-4">
                <jet-label for="specialty" value="Especialidad" />
                <select class="form-select mt-1 block w-full" name="specialty" id="specialty" 
                    v-model="form.specialty">
                    <option value="" disabled selected></option>
                    <option value="1">General</option>
                    <option value="2">Internista</option>
                    <option value="3">Geriatría</option>
                    <option value="4">Pediatría</option>
                    <option value="5">Psiquiatría</option>
                    <option value="6">Neurología</option>
                    <option value="0">Otro</option>
                </select>
                <jet-input-error :message="form.error('specialty')" class="mt-2" />
            </div> 

            <!-- Other -->
            <div class="col-span-6 sm:col-span-2" v-if="form.specialty == 0">
                <jet-label for="profesional_licence" value="Escriba especialidad" />
                <jet-input id="profesional_licence" type="text" class="mt-1 block w-full text-center" 
                    v-model="form.other" autocomplete="profesional_licence" />
                <jet-input-error :message="form.error('profesional_licence')" class="mt-2" />
            </div>
             
        </template>

        <template #actions>
            <jet-action-message :on="form.recentlySuccessful" class="mr-3">
                Guardado.
            </jet-action-message>

            <jet-button :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Guardar
            </jet-button>
        </template>
    </jet-form-section>
</template>

<script>
    import JetButton from '@/Jetstream/Button'
    import JetFormSection from '@/Jetstream/FormSection'
    import JetInput from '@/Jetstream/Input'
    import JetInputError from '@/Jetstream/InputError'
    import JetLabel from '@/Jetstream/Label'
    import JetActionMessage from '@/Jetstream/ActionMessage'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton'

    export default {
        components: {
            JetActionMessage,
            JetButton,
            JetFormSection,
            JetInput,
            JetInputError,
            JetLabel,
            JetSecondaryButton,
        },

        props: ['user'],

        data() {
            return {
                form: this.$inertia.form({
                    '_method': 'PUT',
                    name: this.user.name,
                    professional_license: this.user.professional_license,
                    email: this.user.email,
                    phone: this.user.phone,
                    specialty: this.user.specialty,
                    photo: null,
                }, {
                    bag: 'updateProfileInformation',
                    resetOnSuccess: false,
                }),

                photoPreview: null,
            }
        },

        methods: {
            updateProfileInformation() {
                if (this.$refs.photo) {
                    this.form.photo = this.$refs.photo.files[0]
                }

                this.form.post(route('user-profile-information.update'), {
                    preserveScroll: true
                });
            },

            selectNewPhoto() {
                this.$refs.photo.click();
            },

            updatePhotoPreview() {
                const reader = new FileReader();

                reader.onload = (e) => {
                    this.photoPreview = e.target.result;
                };

                reader.readAsDataURL(this.$refs.photo.files[0]);
            },

            deletePhoto() {
                this.$inertia.delete(route('current-user-photo.destroy'), {
                    preserveScroll: true,
                }).then(() => {
                    this.photoPreview = null
                });
            },
        },
    }
</script>
