<template>
    <div>
        <img class="object-contain w-full" src="/images/contact.png" alt="Contacto">        
        <div class="p-6 sm:px-20 border-b border-gray-200">
            <div class="font-bold">
                Para cualquier duda póngase en contacto con nosotros, nos dará gusto atenderle.                
            </div>
            <div class="w-full">                
                <div class="mb-4 mt-4">
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Asunto">
                </div>
                <div class="mb-4">
                    <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="" id="" cols="1" rows="8" placeholder="Mensaje"></textarea>
                </div>
            </div>
            <div class="flex items-center justify-between">
            <button class="bg-green-app text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                Enviar
            </button>
            </div>
        
            </div>
        </div>
    </div>
</template>

<script>
    import JetApplicationLogo from '@/Jetstream/ApplicationLogo'

    export default {
        components: {
            JetApplicationLogo,
        },
    }
</script>
