<template>
  <div>
    <div class="p-6 sm:px-20 border-b border-gray-200">
      <div class="text-4xl font-exo2 font-bold text-blue-app-200">
        ¡Bienvenido!
      </div>

      <div class="mt-2 xl:text-lg text-green-app text-justify">
        <vueper-slides autoplay :duration="5000">
          <vueper-slide
            v-for="(slide, i) in slides"
            :key="i"
            :image="slide.image"
          />
        </vueper-slides>
        <!--<p>
          <b>APONET</b> es la herramienta de actualización médica continua de
          Apopharma®, donde encontrará información y recursos útiles para
          apoyarlo con el tratamiento día a día de sus pacientes.
        </p>-->
      </div>
      <ul class="list-disc mt-4 pl-8">
        <li>Apopharma es la <span class="font-bold text-blue-app-200">división de prescripción de Apotex</span></li>
        <li>
          Contribuimos a mejorar la Salud Humana a través de productos de <span class="font-bold text-blue-app-200">Alta
          Calidad Farmacéutica</span>
        </li>
        <li><span class="font-bold text-blue-app-200">Presencia global</span> en más de 115 países</li>
        <li>Somos la compañía farmacéutica <span class="font-bold text-blue-app-200">número 1 en Canadá</span></li>
        <li>
          Ofrecemos medicamentos con eficacia terapéutica y una <span class="font-bold text-blue-app-200">mejor relación
          costo-beneficio</span>
        </li>
        <li>
          Nuestros medicamentos cuentan con <span class="font-bold text-blue-app-200">Doble Certificación de Calidad</span>
          México – Canadá
        </li>
        <li>
          Estamos <span class="font-bold text-blue-app-200">avalados por diferentes agencias reguladoras a nivel mundial</span>,
          como FDA, EMA, TGA, HEALTH CANADA, COFEPRIS, entre otras.
        </li>
      </ul>
    </div>

    <div class="bg-blue-app-400 grid grid-cols-3">
      <div class="p-6">
        <a class="text-center" href="/courses">
          <svg
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-12 h-12 text-white mx-auto"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z" />
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            />
          </svg>
          <div class="text-lg text-white leading-7 font-semibold">
            Learning Center
          </div>
        </a>
      </div>

      <div class="p-6 border-t border-gray-200 md:border-t-0 md:border-l">
        <a class="text-center" href="/papers">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            class="w-12 h-12 text-white mx-auto"
          >
            <path
              d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z"
            />
          </svg>
          <div class="text-lg text-white leading-7 font-semibold">
            Recursos Científicos
          </div>
        </a>
      </div>

      <div class="p-6 border-t border-gray-200 md:border-t-0 md:border-l">
        <a class="text-center" href="/news">
          <svg
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-12 h-12 text-white mx-auto"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z"
            />
          </svg>
          <div class="text-lg text-white leading-7 font-semibold">Noticias</div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import JetApplicationLogo from "@/Jetstream/ApplicationLogo";
import { VueperSlides, VueperSlide } from "vueperslides";
import "vueperslides/dist/vueperslides.css";

export default {
  components: {
    JetApplicationLogo,
    VueperSlides,
    VueperSlide,
  },
  data() {
    return {
      slides: [
        {
          image: '/images/home/001.jpg',
        },
        {
          image: '/images/home/002.jpg',
        },
        {
          image: '/images/home/003.jpg',
        },
      ],
    };
  },
};
</script>
